@include b('footer')
{
	background: color(darkgrey);
	padding: 65px 0;

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include tablet-portrait
		{
			flex-wrap: wrap;
		}
	}

	@include e('column')
	{
		width: calc(33.33% - 20px);

		@include tablet-portrait
		{
			width: 48%;
		}

		@include mobile
		{
			width: 100%;
			padding-bottom: 30px;

			&:last-child
			{
				padding-bottom: 0;
			}
		}

		@include m('column-3')
		{
			@include tablet-portrait
			{
				width: 100%;
				padding-top: 50px;
			}

			@include mobile
			{
				padding-top: 0;
			}

			p
			{
				font-size: 15px;
				line-height: 18px;
				color: color(white);
			}
		}
	}

	@include e('main-menu')
	{
		padding-bottom: 30px;

		ul
		{
			li
			{
				margin-bottom: 15px;

				a
				{
					text-decoration: none;
					color: color(white);
					font-size: 15px;
					@include transition(all, 500ms);

					&:hover
					{
						opacity: 0.6;
					}
				}
			}
		}
	}

	@include e('sub-menu')
	{
		padding-bottom: 30px;

		ul
		{
			display: flex;
			justify-content: flex-start;

			li
			{
				margin-right: 20px;

				a
				{
					text-decoration: none;
					color: color(white);
					font-size: 12px;
					@include transition(all, 500ms);

					&:hover
					{
						opacity: 0.6;
					}
				}
			}
		}
	}

	@include e('footer-logo')
	{
		margin-bottom: 32px;
		display: block;

		@include mobile
		{
			width: 98px;
			margin-bottom: 20px;
		}
	}

	@include e('footer-logo-2')
	{
		margin-bottom: 20px;
		display: block;
		width: 182px;

		@include mobile
		{
			width: 98px;
		}
	}

	@include e('footer-sub')
	{
		p
		{
			font-size: 10px;
			line-height: 15px;
			color: color(white);
		}
	}

	@include e('socials')
	{
		display: flex;
		justify-content: flex-start;

		a
		{
			margin-right: 10px;
			@include transition(all, 500ms);

			&:hover
			{
				opacity: 0.6;
			}
		}
	}
}

@include b('section-footer')
{
	@include e('inner')
	{
		max-width: 741px;
		margin: 0 auto;
	}
}
