@include b('header')
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	background: color(white);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

	@include tablet-portrait
	{
		padding: 15px 0;
	}

	@include mobile
	{
		padding: 10px 0;
	}

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@include e('logo')
	{
		display: block;
		line-height: 0;

		@include laptop
		{
			width: 150px;
		}

		@include mobile
		{
			width: 98px;
		}
	}

	@include e('nav')
	{
		@include tablet-portrait
		{
			display: none;
		}
	}
}

.menu-active
{
	@include b('menu-trigger')
	{
		@include e('bar')
		{
			@include m('bar-1')
			{
				top: 6px;
				transform: rotate(135deg);

				@include mobile
				{
					top: 5px;
				}
			}

			@include m('bar-2')
			{
				top: 6px;
				transform: rotate(-135deg);

				@include mobile
				{
					top: 5px;
				}
			}
		}
	}
}

@include b('menu-trigger')
{
	display: none;
	position: relative;
	width: 24px;
	height: 15px;

	@include tablet-portrait
	{
		display: flex;
	}

	@include mobile
	{
		width: 18px;
		height: 12px;
	}

	@include e('bar')
	{
		width: 100%;
		height: 4px;
		background: color(teal);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		@include transition(all, 400ms);

		@include mobile
		{
			height: 3px;
		}

		@include m('bar-2')
		{
			top: 11px;

			@include mobile
			{
				top: 9px;
			}
		}
	}
}

.menu-active
{
	@include b('mobile-menu')
	{
		transform: none;
	}
}

@include b('mobile-menu')
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 18;
	background: color(white);
	transform: translateY(-110%);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	@include transition(all, 700ms);

	@include tablet-portrait
	{
		display: block;
	}

	@include e('inner')
	{
		padding-top: 100px;

		@include mobile
		{
			padding-top: 75px;
		}
	}

	ul
	{
		li
		{
			margin-bottom: 15px;

			a
			{
				font-size: 30px;
				text-decoration: none;
				color: color(teal);

				@include mobile
				{
					font-size: 25px;
				}
			}

			ul
			{
				padding-top: 15px;
				padding-bottom: 5px;

				@include mobile
				{
					padding-bottom: 2px;
				}

				li
				{
					a
					{
						font-size: 20px;

						@include mobile
						{
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
