@include b('page-header-default')
{
	background: color(teal);

	@include m('orange')
	{
		background: color(orange);

		&.page-header--has-image
		{
			.page-header-default__inner
			{
				max-width: 710px;

				h1
				{
					display: inline;
					background: url(../images/highlighter.svg) repeat-x 0 100%;
				}
			}
		}
	}

	@include m('blue')
	{
		background: color(blue);

		&.page-header--has-image
		{
			.page-header-default__inner
			{
				max-width: 710px;

				h1
				{
					display: inline;
					background: url(../images/blue-highlighter.svg) repeat-x 0 100%;
				}
			}
		}
	}

	@include m('pink')
	{
		background: color(pink);

		&.page-header--has-image
		{
			.page-header-default__inner
			{
				max-width: 710px;

				h1
				{
					display: inline;
					background: url(../images/pink-highlighter.svg) repeat-x 0 100%;
				}
			}
		}
	}

	@include m('lime')
	{
		background: color(lime);

		&.page-header--has-image
		{
			.page-header-default__inner
			{
				max-width: 710px;

				h1
				{
					display: inline;
					background: url(../images/lime-highlighter.svg) repeat-x 0 100%;
				}
			}
		}

		h1
		{
			color: color(teal) !important;
		}
	}

	@include m('teal')
	{
		background: color(teal);

		&.page-header--has-image
		{
			.page-header-default__inner
			{
				max-width: 710px;

				h1
				{
					display: inline;
					background: url(../images/teal-highlighter.svg) repeat-x 0 100%;
				}
			}
		}
	}

	@include e('inner')
	{
		padding: 120px 0;

		@include mobile
		{
			padding: 35px 0;
		}
	}

	h1
	{
		color: color(white);
		max-width: 700px;
	}
}

@include b('page-header-full')
{
	position: relative;

	@include e("scroll")
	{
		position: absolute;
		left: 50%;
		bottom: 50px;
		width: 53px;
		height: 53px;
		transform: translateX(-50%);
		z-index: 2;

		@include tablet-landscape
		{
			display: none;
		}
	}

	@include e('slide')
	{
		position: relative;
	}

	@include e('slide-desktop')
	{
		height: calc(100vh - 100px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 100px;
		position: relative;

		video
		{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}

		img
		{
			display: block;
			width: 100%;
			height: auto;
			max-width: 1038px;
			position: relative;
			z-index: 6;
		}

		.content-button
		{
			position: relative;
			z-index: 7;
		}

		@include laptop
		{
			height: calc(100vh - 80px);
		}

		@include tablet-portrait
		{
			display: none;
		}
	}

	@include e('slide-mobile')
	{
		display: none;
		height: 600px;
		padding: 50px;
		position: relative;

		@include tablet-portrait
		{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		@include mobile
		{
			height: 450px;
			padding: 25px;
		}

		video
		{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}

		img
		{
			position: relative;
			z-index: 6;
		}
	}
}
