@include b('module-two-column')
{
	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@include e('column')
	{
		width: calc(50% - 20px);

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 30px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
}

@include b('module-three-column')
{
	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		img
		{
			display: block;
			margin: 0 auto;
		}
	}

	@include e('column')
	{
		width: calc(33.33% - 20px);

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 30px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
}
