@include b('section-custom_cursor')
{
	background: color(teal);
	padding: 0;
	position: relative;
	height: 100vh;
	margin-bottom: 0 !important;

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.inner-wrapper
	{
		display: flex;
		align-items: flex-start;
		height: 100%;
		position: relative;

		@include mobile
		{
			align-items: flex-end;
		}
	}
}

@include b('custom-cursor')
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;

	#custom-cursor__canvas
	{
		margin: 0;
		padding: 0;
	}
}

@include b("cursor-text")
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 2;
	padding-top: 90px;
	width: 100%;
	pointer-events: none;

	@include mobile
	{
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 90px;
	}

	@include e('content')
	{
		color: color(white);
		max-width: 50%;

		@include mobile
		{
			margin-bottom: 30px;
			max-width: 100%;
		}
	}

	.content-button--block
	{
		margin-bottom: 0;
		z-index: 2;
		pointer-events: auto;

		&:hover
		{
			color: color(teal);
			background: color(lime);
		}
	}
}

/*
.cursor-button-desktop
{
	position: absolute;
	left: 94px;
	bottom: 90px;

	@include laptop
	{
		left: 50px;
	}

	@include mobile
	{
		display: none;
	}
}

.cursor-button-mobile
{
	display: none;

	@include mobile
	{
		display: inline-block;
	}
}
*/
