@include b('module-posts')
{
	border-top: solid 1px color(teal);
	border-bottom: solid 1px color(teal);
	background: color(white);

	@include e("inner")
	{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	h2
	{
		transform: translateX(-2px);

		@include mobile
		{
			transform: none;
		}
	}

	@include e('posts')
	{
		width: 50%;
		display: flex;
		flex-direction: column;

		@include tablet-portrait
		{
			width: 100%;
		}
	}

	@include e('post')
	{
		padding: 20px;
		height: 50%;
		display: flex;
		text-decoration: none;
		justify-content: flex-end;
		@include transition(all, 500ms);
		color: color(teal);

		&:hover
		{
			background: color(pink);
		}

		@include tablet-portrait
		{
			height: auto;
			padding: 50px;
		}

		@include mobile
		{
			padding: 50px 25px;
		}

		&:first-child
		{
			border-bottom: solid 1px color(teal);
		}
	}

	@include e('post-inner')
	{
		max-width: 700px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 460px;
		padding: 30px 0;

		@include laptop
		{
			min-height: 360px;
		}

		@include tablet-portrait
		{
			max-width: 100%;
			padding: 0;
		}

		@include mobile
		{
			min-height: 0;
		}
	}

	@include e('category')
	{
		text-transform: uppercase;
		@include font-size($p-font-sizes);
		margin-bottom: 35px;
	}

	@include e('post-bottom')
	{
		max-width: 450px;
		padding-top: 50px;

		@include mobile
		{
			padding-top: 100px;
		}
	}

	@include e('image')
	{
		width: 50%;
		padding: 20px;
		border-left: solid 1px color(teal);
		display: flex;
		justify-content: center;
		align-items: stretch;

		@include tablet-portrait
		{
			display: none;
		}
	}

	@include e('image-mobile')
	{
		display: none;
		padding: 50px;
		border-bottom: solid 1px color(teal);

		@include tablet-portrait
		{
			display: block;
		}

		@include mobile
		{
			padding: 25px;
		}
	}

	@include e('image-inner')
	{
		width: 100%;

		@include tablet-portrait
		{
			position: relative;

			&::after
			{
				padding-bottom: 100%;
				display: block;
				content: '';
			}
		}
	}
}
