.home
{
	@include b('module-image-text')
	{
		.inner-wrapper
		{
			max-width: 100%;
			padding: 0;
		}

		@include e('content')
		{
			justify-content: flex-start;
			padding-right: 94px;
			padding-left: 147px;

			@include laptop
			{
				padding-right: 50px;
				padding-left: 80px;
			}

			@include mobile
			{
				padding: 0 25px;
			}
		}

		@include e('text')
		{
			max-width: 533px;

			@include laptop
			{
				max-width: 100%;
			}
		}

		@include e('content')
		{
			width: 50%;
			display: flex;
			justify-content: flex-end;
			padding-left: 94px;
			padding-right: 187px;

			@include laptop
			{
				padding-left: 50px;
				padding-right: 80px;
			}

			@include tablet-portrait
			{
				width: 100%;
			}

			@include mobile
			{
				padding: 0 25px;
			}
		}
	}
}

@include b('module-image-text')
{
	overflow: hidden;

	@include m('image-left')
	{
		@include e('inner')
		{
			flex-direction: row-reverse;

			@include tablet-portrait
			{
				flex-direction: column-reverse;
			}
		}

		@include e('content')
		{
			justify-content: flex-start;
		}
	}

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include tablet-portrait
		{
			flex-direction: column-reverse;
		}
	}

	@include e('text')
	{
		width: 100%;
	}

	@include e('content')
	{
		width: 48%;
		display: flex;
		justify-content: flex-end;

		@include tablet-portrait
		{
			width: 100%;
		}
	}

	@include e('image')
	{
		position: relative;
		width: 48%;

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 30px;
		}

		&::after
		{
			content: '';
			padding-bottom: 56%;
			display: block;
		}
	}

	@include e('square-left')
	{
		position: absolute;
		left: -1px;
		top: -1px;
		width: 15%;

		&::after
		{
			content: '';
			padding-bottom: 80%;
			display: block;
		}
	}

	@include e('square-right')
	{
		position: absolute;
		right: -1px;
		bottom: -1px;
		width: 15%;

		&::after
		{
			content: '';
			padding-bottom: 80%;
			display: block;
		}
	}
}

.section--beige
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(beige);
	}
}

.section--white
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(white);
	}
}

.section--grey
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(grey);
	}
}

.section--light-grey
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(lightgrey);
	}
}

.section--orange
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(orange);
	}
}

.section--teal
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(teal);
	}
}

.section--lime
{
	.module-image-text__square-left,
	.module-image-text__square-right
	{
		background: color(lime);
	}
}
