@include b('module-logo')
{
	@include e("slide-inner")
	{
		position: relative;
		height: 100px;

		img
		{
			position: absolute;
			object-fit: contain;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	@include e('title')
	{
		margin-bottom: 80px;

		@include mobile
		{
			margin-bottom: 60px;
		}
	}

	.owl-dots
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 70px;
		position: static;

		@include mobile
		{
			padding-top: 40px;
		}

		.owl-dot
		{
			width: 6px;
			height: 6px;
			background: color(teal);
			margin: 0 5px;
			border-radius: 100%;
			display: block;
			opacity: 0.7;
			@include transition(all, 500ms);

			&.active
			{
				transform: scale(1.5);
				opacity: 1;
			}
		}
	}
}
