@include b('section')
{
	margin-bottom: 25px;
	padding: 52px 0;

	&.override__top-padding-none
	{
		padding-top: 0 !important;
		margin-top: 0 !important;
	}

	&.override__bot-padding-none
	{
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}

	&.rellax
	{
		z-index: 3;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

		@include tablet-landscape
		{
			transform: none !important;
			box-shadow: none;
		}
	}

	@include m('white')
	{
		background: color(white);
		color: color(teal);
	}

	@include m('light-grey')
	{
		background: color(lightgrey);
		color: color(teal);
	}

	@include m('grey')
	{
		background: color(grey);
		color: color(teal);
	}

	@include m('orange')
	{
		background: color(orange);
		color: color(white);
	}

	@include m('lime')
	{
		background: color(lime);
		color: color(teal);
	}

	@include m('teal')
	{
		background: color(teal);
		color: color(white);
	}

	@include m('beige')
	{
		background: color(beige);
		color: color(teal);
	}
}

@include b('module')
{
	margin-bottom: 50px;
	opacity: 0;
	@include transition(all, 1s);

	&.active
	{
		opacity: 1;
	}

	&:last-child
	{
		margin-bottom: 0;
	}

	&:only-child
	{
		margin-bottom: 0;
	}
}
