@include b('module-one_column_question')
{
	@include m('narrow')
	{
		@include e('inner')
		{
			margin: 0 auto;
			max-width: 1038px;
		}
	}

	@include e('inner')
	{
		margin: 0 auto;
		max-width: 1038px;

		[type=checkbox]:checked + label,
		[type=checkbox]:not(:checked) + label
		{
			font-size: 1.5rem;
			padding-left: 3rem !important;
			display: block;

			&::before,
			&::after
			{
				top: 50%;
				transform: translateY(-50%);
			}

			&::before
			{
				width: 30px;
				height: 30px;
			}

			&::after
			{
				width: 30px;
				height: 30px;
				content: "✓";
				line-height: 0.9;
				background: none;
				font-size: 2rem;
				left: 3px;
			}
		}

		.load-more-content
		{
			display: none;
			padding-left: 6rem;
			position: relative;
			margin-top: 2rem;
			max-width: 900px;

			&::before
			{
				content: "=";
				font-size: 4rem;
				position: absolute;
				color: #e57200;
				left: 2.75rem;
				top: 0;
				line-height: 1.5rem;
			}
		}
	}
}
