@include b('module-pledge')
{
	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	@include e('pledge')
	{
		text-decoration: none;
		color: color(teal);

		h5
		{
			padding-top: 15px;
		}
	}

	@include e('column')
	{
		width: calc(50% - 20px);

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 30px;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}

	@include e('share')
	{
		padding-top: 40px;

		@include tablet-portrait
		{
			padding-top: 20px;
		}

		span
		{
			display: block;
			margin-bottom: 15px;
			font-size: 20px;

			@include mobile
			{
				margin-bottom: 8px;
				font-size: 10px;
			}
		}
	}

	@include e("share-icons")
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;

		a
		{
			margin-right: 15px;
			@include transition(all, 500ms);

			&:hover
			{
				opacity: 0.5;
			}

			@include mobile
			{
				width: 26px;
				height: 26px;
				margin-right: 10px;
			}
		}
	}
}
