@include b('module-quote')
{
	padding: 70px 0;

	@include tablet-portrait
	{
		padding: 0;
	}

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		position: relative;

		@include tablet-portrait
		{
			flex-direction: column-reverse;
			align-items: flex-start;
		}
	}

	@include e('quote')
	{
		position: relative;
		z-index: 2;
		width: 48%;
		display: flex;
		color: color(teal);

		@include tablet-portrait
		{
			width: 81%;
			transform: translateY(-30px);
		}

		&::after
		{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 78%;
			width: 15%;
			display: block;
			background: color(lime);

			@include mobile
			{
				width: 12%;
			}
		}

		&::before
		{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 78%;
			width: 15%;
			display: block;
			background: color(lime);

			@include mobile
			{
				width: 12%;
			}
		}
	}

	@include e('quote-inner')
	{
		background: color(lime);
		padding: 30px;
		padding-right: 0;

		@include mobile
		{
			padding: 20px;

			h2
			{
				font-size: 24px;
				line-height: 1.3;
			}
		}
	}

	@include e('attribution')
	{
		margin-top: 60px;
		@include font-size($p-font-sizes);

		&::before
		{
			content: '— ';
		}

		@include mobile
		{
			margin-top: 20px;
		}
	}

	@include e('quote-block-left')
	{
		width: 15%;
		background: color(lime);
		flex-shrink: 0;
		height: 85%;
		align-self: flex-end;

		@include mobile
		{
			width: 12%;
		}
	}

	@include e('quote-block-right')
	{
		width: 15%;
		flex-shrink: 0;
		height: 85%;
		background: color(lime);

		@include mobile
		{
			width: 12%;
		}
	}

	@include e('image')
	{
		width: 66%;
		position: absolute;
		height: calc(100% + 140px);
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		@include tablet-portrait
		{
			position: relative;
			transform: none;
			top: auto;
			right: auto;
			align-self: flex-end;
			height: 37vw;
		}
	}

	@include e('image-block-left')
	{
		position: absolute;
		left: -1px;
		top: -1px;
		width: 15%;

		&::after
		{
			content: '';
			padding-bottom: 80%;
			display: block;
		}
	}

	@include e('image-block-right')
	{
		position: absolute;
		right: -1px;
		bottom: -1px;
		width: 15%;

		&::after
		{
			content: '';
			padding-bottom: 80%;
			display: block;
		}
	}
}

.section--beige
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(beige);
	}
}

.section--white
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(white);
	}
}

.section--grey
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(grey);
	}
}

.section--light-grey
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(lightgrey);
	}
}

.section--orange
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(orange);
	}
}

.section--teal
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(teal);
	}
}

.section--lime
{
	.module-quote__image-block-left,
	.module-quote__image-block-right
	{
		background: color(lime);
	}
}
