@include b('module-video-text')
{
	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.module-video-text--video-left &
		{
			flex-direction: row-reverse;
		}
	}

	@include e('content')
	{
		width: 40%;

		@include tablet-landscape
		{
			width: 40%;
		}

		@include tablet-portrait
		{
			width: 100%;
			margin-bottom: 30px;
		}
	}

	@include e('video')
	{
		width: 50%;

		@include tablet-portrait
		{
			width: 100%;
		}

		a
		{
			display: block;
			position: relative;

			&::before
			{
				content: '';
				background: url(../images/play.svg) no-repeat center;
				background-size: contain;
				width: 100px;
				height: 100%;
				position: absolute;
				display: block;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				pointer-events: none;
				z-index: 2;

				@include mobile
				{
					width: 50px;
					height: 50px;
				}
			}

			&::after
			{
				padding-bottom: 56%;
				content: '';
				display: block;
			}
		}
	}
}
