
.error404
{
	background: color(lime);
	color: color(teal);

	.section-footer
	{
		display: none;
	}
}

@include b('error-wrapper')
{
	@include e('inner')
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 0;
	}

	h2
	{
		margin-bottom: 30px;
	}
}
