@include b('card-featured')
{
	opacity: 0;
	@include transition(all, 1s);

	&.active
	{
		opacity: 1;
	}

	@include e('inner')
	{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		color: color(teal);

		@include mobile
		{
			flex-direction: column-reverse;
		}
	}

	@include e('left')
	{
		width: 48%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 20px;

		@include mobile
		{
			padding-bottom: 0;
			width: 100%;
		}
	}

	@include e('right')
	{
		width: 48%;
		position: relative;
		@include transition(all, 500ms);

		&:hover
		{
			opacity: 0.7;
		}

		@include mobile
		{
			width: 100%;
			margin-bottom: 20px;
		}

		&::after
		{
			padding-bottom: 100%;
			content: '';
			display: block;
		}
	}

	.content-button
	{
		background: color(beige);
		margin-bottom: 0;

		&:hover
		{
			background: color(blue);
		}
	}

	@include e('category')
	{
		padding-bottom: 47px;
		text-transform: uppercase;

		@include mobile
		{
			padding-bottom: 20px;
		}
	}

	@include e("title")
	{
		text-decoration: none;
		color: color(teal);
		@include transition(all, 500ms);

		&:hover
		{
			color: color(orange);
		}
	}

	@include e('sub')
	{
		max-width: 472px;
		padding-top: 50px;
		padding-bottom: 80px;

		@include mobile
		{
			padding-bottom: 25px;
			padding-top: 38px;
		}
	}
}

@include b('featured-posts')
{
	padding-top: 97px;

	@include mobile
	{
		padding-top: 50px;
	}

	@include e('inner')
	{
		.card-featured
		{
			&:nth-child(odd)
			{
				.card-featured__inner
				{
					flex-direction: row-reverse;

					@include mobile
					{
						flex-direction: column-reverse;
					}
				}
			}

			&:nth-child(even)
			{
				margin-top: 100px;

				@include mobile
				{
					margin-top: 50px;
				}
			}
		}
	}
}

@include b('card-blog')
{
	color: color(teal);
	opacity: 0;
	@include transition(all, 1s);

	&.active
	{
		opacity: 1;
	}

	@include e('image')
	{
		position: relative;
		display: block;
		margin-bottom: 25px;
		@include transition(all, 500ms);

		&:hover
		{
			opacity: 0.7;
		}

		&::after
		{
			content: '';
			padding-bottom: 100%;
			display: block;
		}
	}

	@include e('category')
	{
		font-size: 15px;
		text-transform: uppercase;
		margin-bottom: 12px;

		@include mobile
		{
			font-size: 10px;
			margin-bottom: 7px;
		}
	}

	@include e('title')
	{
		margin-bottom: 20px;
		transform: translateX(-15px);

		&:hover
		{
			color: color(teal);
			background: color(lime);
		}

		@include mobile
		{
			margin-bottom: 10px;
		}
	}

	@include e('excerpt')
	{
		font-size: 15px;

		@include mobile
		{
			font-size: 10px;
		}
	}
}

@include b('blog-posts')
{
	padding-top: 100px;
	padding-bottom: 100px;

	@include mobile
	{
		padding-top: 70px;
	}

	@include e('load-more-wrap')
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include e("inner")
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.card-blog
	{
		width: 30%;
		margin-bottom: 60px;

		@include mobile
		{
			width: calc(50% - 8px);
			margin-bottom: 30px;
		}
	}
}
