@include b('single-post-wrapper')
{
	color: color(teal);

	a
	{
		@include transition(all, 500ms);

		&:hover
		{
			color: color(orange);
		}
	}

	@include e('back')
	{
		margin-bottom: 50px;

		@include mobile
		{
			margin-bottom: 30px;
		}

		a
		{
			position: relative;
			font-size: 15px;
			text-decoration: none;
			padding-left: 48px;
			color: color(teal);

			@include mobile
			{
				font-size: 10px;
				padding-left: 30px;
			}

			&:hover
			{
				&::before
				{
					background: url(../images/arrow-orange.svg) no-repeat center;
					background-size: contain;
				}
			}

			&::before
			{
				content: '';
				background: url(../images/arrow-teal.svg) no-repeat center;
				background-size: contain;
				width: 17px;
				height: 17px;
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%) rotate(90deg);
				@include transition(all, 500ms);

				@include mobile
				{
					width: 14px;
					height: 14px;
				}
			}
		}
	}

	@include e('top')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 90px;

		@include tablet-portrait
		{
			flex-wrap: wrap;
			margin-bottom: 50px;
		}

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	@include e('left-width')
	{
		width: 300px;
		flex-shrink: 0;
		margin-right: 15%;

		@include tablet-landscape
		{
			width: 250px;
			margin-right: 8%;
		}

		@include tablet-portrait
		{
			width: 100%;
			margin-right: 0;
		}
	}

	@include e('right-width')
	{
		width: 100%;
	}

	@include e('category')
	{
		text-transform: uppercase;
		@include font-size($p-font-sizes);

		@include tablet-portrait
		{
			padding-bottom: 18px;
		}

		@include mobile
		{
			font-size: 10px;
		}
	}

	@include e('title')
	{
		h1
		{
			max-width: 503px;
		}
	}

	@include e('middle')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 90px;

		@include tablet-portrait
		{
			flex-wrap: wrap;
		}

		@include mobile
		{
			margin-bottom: 50px;
		}
	}

	@include e('sub-title')
	{
		position: relative;
		padding-bottom: 95px;
		margin-bottom: 75px;

		@include tablet-portrait
		{
			padding-bottom: 0;
			margin-bottom: 30px;
		}

		&::after
		{
			content: '';
			background: url(../images/orange-highlighter.png) no-repeat center top;
			background-size: contain;
			width: 100%;
			height: 62px;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;

			@include tablet-portrait
			{
				display: none;
			}
		}
	}

	@include e('share')
	{
		@include tablet-portrait
		{
			margin-bottom: 40px;
		}

		span
		{
			display: block;
			margin-bottom: 15px;
			font-size: 20px;

			@include mobile
			{
				margin-bottom: 8px;
				font-size: 10px;
			}
		}
	}

	@include e("share-icons")
	{
		display: flex;
		justify-content: flex-start;
		align-items: center;

		a
		{
			margin-right: 15px;

			&:hover
			{
				opacity: 0.5;
			}

			@include mobile
			{
				width: 26px;
				height: 26px;
				margin-right: 10px;
			}
		}
	}

	@include e('featured-image')
	{
		position: relative;

		&::after
		{
			padding-bottom: 75%;
			display: block;
			content: '';
		}
	}

	@include e('bottom')
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 150px;

		@include tablet-portrait
		{
			flex-direction: column-reverse;
			padding-bottom: 90px;
		}
	}

	@include e('link-wrap')
	{
		@include tablet-portrait
		{
			margin-top: 60px;
		}

		p
		{
			margin-bottom: 20px;
			font-size: 20px;

			@include laptop
			{
				@include font-size($p-font-sizes);
			}
		}
	}

	@include e('link')
	{
		position: relative;
		font-size: 15px;
		padding-left: 32px;
		text-decoration: none;
		color: color(teal);
		display: block;

		&::before
		{
			content: '';
			background: url(../images/arrow-teal.svg) no-repeat center;
			background-size: contain;
			width: 17px;
			height: 17px;
			position: absolute;
			left: 0;
			top: 0;
			transform: rotate(-132deg);
		}
	}

	@include e('supporting-link')
	{
		padding-left: 32px;
		padding-top: 15px;
		margin-top: 25px;
		font-size: 15px;
		border-top: solid 1px color(teal);
		display: inline-block;
		color: color(teal);
		text-decoration: none;
		text-align: left;
		min-width: 190px;
	}
}
