// woocommerce content wrapper
@include b('woocommerce')
{
	&:not(body)
	{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		flex-wrap: wrap;
		width: 100%;

		small
		{
			display: block;
			padding-top: 10px;
			color: color(black);
			@include font-size($p-font-sizes);
		}
	}
}

@include b('woocommerce-notices-wrapper')
{
	width: 100%;
	margin-bottom: 32px;

	&:empty
	{
		margin-bottom: 0;
	}

	.wc-forward
	{
		display: none;
	}

	/*
	Margin between messages
	*/
	$list-margin: 20px;

	[role="alert"]
	{
		margin-bottom: $list-margin;

		&:last-child
		{
			margin-bottom: 0;
		}

		li,
		a:not(.button)
		{
			font-family: inherit;
			margin-bottom: $list-margin;

			&:last-child
			{
				margin-bottom: 0;
			}
		}

		a
		{
			color: color(black);
		}
	}
}

@include b('woocommerce-cart-form')
{
	max-width: calc(((8 / 12) * 100%) - 12px);
	width: 100%;

	@include tablet-portrait
	{
		max-width: 100%;
	}

	table
	{
		width: 100%;
	}

	input
    {
		width: 100%;
		box-sizing: border-box;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-progress-appearance: none;
		background: transparent;
		resize: none;
		color: color(black);
		border: solid 1px color(black);
		padding: 0 12px;
		border-radius: 0;
		font-size: 14px;
		height: 30px;
		@include transition(all, 400ms);

		&:focus
    	{
			outline: 0;
		}

		@include placeholder(color(black), 1);
	}
}

// Edit this to change the row padding
%row-padding
{
	padding: 10px 0;
}

@include b('cart')
{
	// Header
	thead
    {
		display: block;

		th
		{
			font-weight: 700;
			@extend %row-padding;
		}
	}

	tr
    {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		position: relative;
		text-align: left;

		@include mobile
		{
			align-items: center;
		}

		th,
		td
		{
			margin-right: 24px;
			@include font-size($p-font-sizes);

			&:last-child
			{
				margin-right: 0;
			}
		}
	}

	// Body
	tbody
	{
		td
		{
			vertical-align: middle;
		}

		tr
		{
			@extend %row-padding;

			&:first-child
			{
				border-top: none;
			}

			&:last-child
			{
				padding: 0 0;
			}
		}
	}

	.product-remove
    {
		position: absolute;
		left: 0;
		top: 10px;
		width: 16px;
		height: 16px;
		z-index: 5;

		@include mobile
		{
			width: calc(((1 / 10) * 100%) - ((24px * 4) / 5));
			padding: 12px;
			position: static;
		}

		a
        {
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			font-size: 0;
			color: transparent;
			transform: rotate(45deg);

			&::after,
			&::before
			{
				content: '';
				display: inline-block;
				position: absolute;
				height: 1px;
				width: 100%;
				top: 50%;
				left: 50%;
				background: color(black);
			}

			&::before
			{
				transform: translate(-50%, -50%);
			}

			&::after
			{
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
	}

	.product-thumbnail
    {
		width: calc(((2 / 10) * 100%) - ((24px * 4) / 5));

		@include mobile
		{
			display: none;
		}

		a
		{
			position: relative;
			display: block;
			background: color(white);

			&::after
			{
				@include image-ratio(220, 165);
			}

			img
			{
				width: 100%;
				height: 100%;
				object-fit: contain;
				@include center(xy);
			}
		}
	}

	.product-name,
	.product-price,
	.product-quantity,
	.product-subtotal
    {
		width: calc(((2 / 10) * 100%) - ((24px * 4) / 5));
	}

	thead .product-remove
    {
		display: none;
	}

	.quantity
    {
		label
        {
			display: none;
		}

		input
        {
			width: 54px;
		}
	}
}

@include b('actions')
{
	border-top: none;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@include tablet-portrait
	{
		margin: 2.7em 0;
	}

	&td
	{
		padding-top: 20px !important;
	}

	.coupon
	{
		min-width: 360px;
		margin: 2.7em 0;
		display: flex !important;
		justify-content: flex-start;
		align-items: center;
		margin-right: 32px;

		@include tablet-portrait
		{
			margin: 0 0;
		}

		input
		{
			width: calc(66.66% - 24px);
		}

		label
		{
			display: none;
		}

		.button
		{
			margin-left: 20px;
		}
	}

	@include tablet-portrait
	{
		margin-bottom: 4em;
	}

	@include mobile
	{
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.button
	{
		background: color(black);
		appearance: none;
		display: inline-block;
		white-space: nowrap;
		border: 0;
		border-radius: 0;
	}

	> .button
	{
		@include mobile
		{
			margin-left: 0;
			margin-bottom: 20px;
		}
	}
}

@include b('woocommerce-info')
{
	&.cart-empty
	{
		width: 100%;
		display: block;
		@include font-size($h2-font-sizes);
	}
}

// Cart sidebar
@include b('cart-collaterals')
{
	position: sticky;
	top: 100px;
	width: 100%;
	max-width: calc(((4 / 12) * 100%) - 12px);
	border: solid 1px color(black);
	padding: 10px 10px 20px;
	box-sizing: border-box;
	text-align: left;
	flex-shrink: 0;
	margin-bottom: 40px;

	@include tablet-portrait
	{
		max-width: 100%;
	}

	@include mobile
	{
		width: 100%;
	}

	tbody
	{
		tr
		{
			border: none;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 0 0;
			margin-bottom: 10px;

			&.order-total
			{
				margin-bottom: 2.7em;
				font-weight: normal;

				strong
				{
					font-weight: normal;
				}
			}

			td
			{
				width: calc(50% - 12.5px);
				@extend %row-padding;

				@include mobile
				{
					width: calc(75% - 12.5px);
				}
			}

			th
			{
				width: calc(50% - 12.5px);
				@extend %row-padding;

				@include mobile
				{
					width: calc(25% - 12.5px);
				}
			}
		}
	}

	table
	{
		width: 100%;
	}

	h2
	{
		margin-bottom: 0;
		padding-bottom: 10px;
		font-weight: 700;
		@include font-size($p-font-sizes);
	}
}

@include b('woocommerce-shipping-calculator')
{
	.shipping-calculator-button
	{
		margin-bottom: 32px;
		display: inline-block;
		height: 1.4em;
	}

	p
	{
		margin-bottom: 20px;
		@include font-size($p-font-sizes);
	}

	select
	{
		width: 100%;
		border: solid 1px color(black);
		padding: 0 12px;
		border-radius: 0;
		font-size: 14px;
		height: 30px;
	}
}
