/* Radio button */
[type="radio"]:not(:checked),
[type="radio"]:checked
{
	position: absolute !important;
	left: -9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label
{
	position: relative !important;
	padding-left: 30px !important;
	cursor: pointer !important;
}

[type="radio"]:not(:checked) + label::before,
[type="radio"]:checked + label::before
{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	border: 2px solid color(teal);
	box-sizing: border-box;

	@include mobile
	{
		top: 0;
		height: 15px;
		width: 15px;
	}
}

[type="radio"]:not(:checked) + label::after,
[type="radio"]:checked + label::after
{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 0;
	opacity: 1;
	background: color(teal);
	border-radius: 100%;
	transition: all 0.2s;

	@include mobile
	{
		top: 0;
		height: 15px;
		width: 15px;
	}
}


[type="radio"]:not(:checked) + label::after
{
	opacity: 0;
}

[type="radio"]:checked + label::after
{
	opacity: 1;
}

/* disabled radio */
[type="radio"]:disabled:not(:checked) + label::before
{
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

[type="radio"]:disabled:checked + label::after
{
	color: #999;
}

[type="radio"]:disabled + label
{
	color: #aaa;
}


/* CHECKBOX */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
{
	position: absolute !important;
	left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
{
	position: relative !important;
	padding-left: 30px !important;
	cursor: pointer !important;
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before
{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	box-sizing: border-box;
	height: 16px;
	width: 16px;
	background: transparent;
	border: solid 2px color(teal);

	@include mobile
	{
		top: 0;
		height: 15px;
		width: 15px;
	}
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after
{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 0;
	opacity: 1;
	background: color(teal);
	@include transition(all, 400ms);

	@include mobile
	{
		top: 0;
		height: 15px;
		width: 15px;
	}
}

[type="checkbox"]:not(:checked) + label::after
{
	opacity: 0;
}

[type="checkbox"]:checked + label::after
{
	opacity: 1;
}

/* disabled checkbox */
[type="checkbox"]:disabled:checked + label::before
{
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label::after
{
	color: #999;
}

[type="checkbox"]:disabled + label
{
	color: #aaa;
}
