$_color: (
	white: #ffffff,
	black: #000000,
	debug: #ff00ef,
	lime: #D3D626,
	teal: #005156,
	beige: #E7E4DB,
	grey: #E5E8E8,
	lightgrey: #f5f7f7,
	darkgrey: #707070,
	pink: #F17064,
	orange: #E57200,
	blue: #0084B2,
);
