/**
 *  General
 */

*
{
	-webkit-font-smoothing: antialiased;
	font-family: $font-family;
}

img
{
	max-width: 100%;
	display: block;
}

@include b('button')
{
	@include font-size($p-font-sizes);
}

.owl-next
{
	position: absolute;
	right: -50px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	//background: url(../images/arrow-right.svg) no-repeat center !important;
	//background-size: contain !important;

	span
	{
		display: none !important;
	}
}

.owl-prev
{
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	//background: url(../images/arrow-left.svg) no-repeat center !important;
	//background-size: contain !important;

	span
	{
		display: none !important;
	}
}

.owl-dots
{
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.owl-dot
	{
		width: 10px;
		height: 10px;
		border-radius: 100%;
		display: block;
		margin: 0 5px;
		@include transition(all, 400ms);

		&.active
		{
			//active style
		}
	}
}

.section--white
{
	@include b('content-button')
	{
		@include m('block')
		{
			background: color(beige);
		}
	}
}

.section--teal
{
	@include b('content-button')
	{
		@include m('underlined')
		{
			color: color(white);

			&::after
			{
				background: color(white);
			}

			&:hover
			{
				color: color(teal);
				background: color(lime);
			}
		}
	}
}

@include b('content-button')
{
	text-decoration: none;
	@include font-size($p-font-sizes);
	display: inline-block;
	margin-bottom: 30px;
	@include transition(all, 500ms);

	&:hover
	{
		opacity: 1 !important;
	}

	@include mobile
	{
		margin-bottom: 15px;
	}

	@include m('block')
	{
		background: color(white);
		padding: 12px 15px 8px;
		color: color(teal);

		&:hover
		{
			background: color(pink);
			color: color(white);
		}
	}

	@include m('underlined')
	{
		background: transparent;
		padding: 10px 15px 10px;
		color: color(teal);
		margin-bottom: 40px;
		position: relative;

		@include mobile
		{
			margin-bottom: 25px;
		}

		&::after
		{
			content: '';
			position: absolute;
			left: 0;
			bottom: -10px;
			width: 100%;
			height: 1px;
			background: color(teal);
			display: block;
		}

		&:hover
		{
			background: color(lime);
		}
	}
}

.video-wrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;

	iframe
	{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}
