/* * Margin bottom row */
$desktop_row: 30px;
$mobile_row: 15px;

/* Margin bottom label */
$desktop_label: 12px;
$mobile_label: 12px;

/**
 * Placeholder
 * These variables are fed into the placeholder mixing, found in library.scss
 */

$placeholder_color: color(black);
$placeholder_opacity: 0.5;

/**
 * Custom form styling
 */
@include b('gform_wrapper')
{
	box-sizing: border-box;

	form
	{
		.gform_body
		{
			margin-bottom: $desktop_row;

			> .gform_fields
			{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;
				margin: 0;

				> li
				{
					width: 100%;
					position: relative;
					padding-left: 0;
					line-height: inherit;
					font-size: inherit;
					margin-bottom: $desktop_row;

					@include mobile
					{
						margin-bottom: $mobile_row;
						width: 100% !important;
					}

					&::before
					{
						display: none;
					}

					// REVIEW
					.ginput_preview
					{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin-top: 10px;

						strong
						{
							font-weight: normal;
							margin-left: 10px;
						}
					}

					.gfield_description
					{
						margin-top: 8px;
						max-width: 182px;
						font-size: 10px;
					}

					&.file-uploader
					{
						.validation_message
						{
							padding-top: 5px;
							color: color(teal);
						}
					}

					.validation_message
					{
						color: red;

						ul
						{
							display: none;
						}
					}

					.gform_drop_area
					{
						border: solid 1px color(teal);
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						position: relative;
						height: 39px;
						max-width: 182px;

						&::after
						{
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background-image: url(../images/uploader.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 140px;
							background-color: color(white);
							pointer-events: none;
						}

						input
						{
							width: 100%;
							height: 100%;
							position: absolute !important;
							font-size: 20px;
							z-index: 2;
							opacity: 0;

							@include laptop
							{
								@include font-size($p-font-sizes);
							}
						}

						.gform_drop_instructions
						{
							margin-bottom: 10px;
						}
					}

					.ginput_container_address
					{
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;

						span
						{
							display: flex;
							flex-direction: column-reverse;
							width: 32%;

							&.ginput_full
							{
								width: 100%;
								margin-bottom: $desktop_row;

								@include mobile
								{
									margin-bottom: $mobile_row;
								}
							}

							label
							{
								display: block;
								margin-bottom: $desktop_label;

								@include mobile
								{
									margin-bottom: $mobile_label;
								}
							}
						}
					}

					.ginput_container_date
					{
						> div
						{
							display: flex;
							justify-content: space-between;
							align-items: center;

							.ginput_container
							{
								width: 31%;
								position: relative;
							}
						}
					}

					.gfield_radio
					{
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						flex-wrap: wrap;
						flex-direction: column;
						list-style: none;
						padding: 0;
						margin: 0;

						li
						{
							// review
							display: flex;
							justify-content: center;
							align-items: center;
							margin-bottom: 5px;
							padding-left: 0;
							margin-right: 20px;

							&::before
							{
								display: none;
							}

							&::after
							{
								display: none;
							}

							input[type="radio"]
							{
								margin: 0;
								flex-shrink: 0;
								margin-right: 8px;
							}

							label
							{
								margin-bottom: 5px;
							}
						}
					}

					.gfield_checkbox
					{
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						flex-direction: column;
						flex-wrap: wrap;
						list-style: none;
						padding: 0;
						margin: 0;

						li
						{
							display: flex;
							justify-content: center;
							align-items: center;
							margin-bottom: 5px;
							padding-left: 0;
							margin-right: 20px;

							&::before
							{
								display: none;
							}

							&::after
							{
								display: none;
							}

							input[type="checkbox"]
							{
								margin: 0;
								flex-shrink: 0;
								margin-right: 8px;
							}

							label
							{
								margin-bottom: 5px;
							}
						}
					}

					> .gfield_label
					{
						display: block;
						margin-bottom: 8px;
						font-size: 20px;

						@include laptop
						{
							@include font-size($p-font-sizes);
						}

						@include mobile
						{
							margin-bottom: 5px;
						}
					}

					.gfield_required
					{
						//Required div
					}

					.ginput_container_select
					{
						position: relative;
						width: 100%;

						select
						{
							-moz-appearance: none;
							-webkit-appearance: none;
							-ms-progress-appearance: none;
							padding-right: 30px;

							option
							{
								//Option
							}
						}

						&::after
						{
							content: '';
							position: absolute;
							right: 10px;
							top: 50%;
							transform: translateY(-50%);
							width: 20px;
							height: 20px;
							background: url(../images/arrow-teal.svg) no-repeat center;
							background-size: contain;
							pointer-events: none;

							@include mobile
							{
								width: 15px;
								height: 15px;
							}
						}
					}

					&.title-block
					{
						margin-bottom: $desktop_row;

						@include mobile
						{
							margin-bottom: $mobile_row;
						}
					}

					&.hide-label
					{
						> .gfield_label
						{
							display: none !important;
						}
					}

					&.centre-text
					{
						> .gfield_label
						{
							text-align: center;
							display: block;
						}

						input[type="text"],
						input[type="email"],
						select,
						textarea
						{
							text-align: center;
						}
					}

					input[type="text"],
					input[type="email"],
					select,
					textarea
					{
						width: 100%;
						box-sizing: border-box;
						-moz-appearance: none;
						-webkit-appearance: none;
						-ms-progress-appearance: none;
						background: transparent;
						resize: none;
						font-size: 20px;
						height: 39px;
						border: solid 1px color(teal);
						padding: 7px;
						border-radius: 0;
						@include transition(all, 400ms);

						&:focus
						{
							outline: 0;
						}

						@include placeholder($placeholder_color, $placeholder_opacity);

						@include laptop
						{
							@include font-size($p-font-sizes);
						}
					}

					.textarea
					{
						height: auto;
					}

					&.third
					{
						width: 31%;
					}

					&.half
					{
						width: calc(50% - 12.5px);
					}

					&.two-thirds
					{
						width: 65.5%;
					}
				}
			}
		}

		.gform_footer
		{
			text-align: left;
			max-width: 280px;
			border-bottom: solid 1px color(teal);
			padding-bottom: 10px;

			@include mobile
			{
				max-width: 130px;
				padding-bottom: 0;
			}

			.gform_button
			{
				-moz-appearance: none;
				-webkit-appearance: none;
				-ms-progress-appearance: none;
				border-radius: 0 0 0 0;
				text-decoration: none;
				@include font-size($p-font-sizes);
				display: inline-block;
				@include transition(all, 500ms);
				background: color(white);
				padding: 10px 15px 10px;
				color: color(teal);
				width: 100%;
				text-align: center;
				position: relative;

				&::after
				{
					content: '';
					position: absolute;
					left: 0;
					bottom: -10px;
					width: 100%;
					height: 1px;
					background: color(teal);
					display: block;
				}

				&:hover
				{
					background: color(lime);
				}

				&:focus
				{
					outline: 0;
				}
			}
		}
	}
}

/**
 * Resets / Defaults
 */
.gf_clear,
.gform_card_icon_container,
.ginput_card_security_code_icon,
img.gform_ajax_spinner,
.validation_error
{
	display: none !important;
}

.gform_validation_container
{
	position: fixed !important;
	left: 999px;
	visibility: hidden;
}

.gform_confirmation_message
{
	@include font-size($p-font-sizes);
}

.marlin-custom-form
{
	a.learn-more-link,
	a.more-requirements-link
	{
		position: relative;
		padding-left: 3rem;
		padding-top: 5px;
		width: 100%;
		cursor: pointer;

		&::before
		{
			content: "+";
			font-size: 3rem;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: color(orange);
		}

		&.open
		{
			margin-bottom: 1rem;

			&::before
			{
				content: "=";
			}
		}
	}

	a.more-requirements-link
	{
		padding-left: 4rem;
		margin-bottom: 2rem;

		&::before
		{
			left: 13px;
		}
	}

	.gfield
	{
		display: flex;
		width: 100%;
		border: 0;
		flex-direction: row;
		min-inline-size: auto;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;

		.section-content_section
		{
			width: 100%;
		}

		.gfield_description
		{
			flex-basis: 100%;
			padding-left: 3rem;
		}

		.gfield_label
		{
			flex-basis: 75%;
			float: left;
			@include mobile
			{
				flex-basis: 100%;
				margin-bottom: 1rem;
			}
		}

		.ginput_container
		{
			float: left;
			flex-basis: 25%;

			@include mobile
			{
				flex-basis: 100%;
				margin-bottom: 1rem;
			}

			.gfield_checkbox,
			.gfield_radio
			{
				display: flex;
				flex-wrap: nowrap;
				gap: 2rem;
				text-align: center;
				justify-content: flex-end;


				@include mobile
				{
					justify-content: space-around;
				}

				.gform-field-label,
				label
				{
					padding-left: 0 !important;
				}

				[type="radio"]:not(:checked) + label::before,
				[type="radio"]:checked + label::before
				{
					left: 0;
					right: 0;
					margin: 0 auto 10px;
					position: relative;
					display: block;
					width: 25px;
					height: 25px;
				}

				[type="radio"]:not(:checked) + label::after,
				[type="radio"]:checked + label::after
				{
					width: 25px;
					height: 25px;
					left: -12px;
				}
			}
		}
	}

	.requirements-block,
	.gfield_description
	{
		max-width: 75%;
		padding: 0.35em 0.75em 0.625em 4rem;

		@include mobile
		{
			max-width: 100%;
		}
	}
}
