// Note: Globally defined styling

*
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body
{
	margin: 0;

	&.touch-device a:hover
	{
		&::after,
		&::before
		{
			// NOTE: This is to prevent iOs double tap 'bug'
		}
	}
}

@include b('site-equal')
{
	position: fixed;
	top: 56%;
	right: 0;
	width: 160px;
	height: 160px;
	background: url(../images/equal.svg) no-repeat right center;
	background-size: contain;
	z-index: 3;
	pointer-events: none;

	@include tablet-landscape
	{
		width: 80px;
		height: 80px;
	}

	@include tablet-portrait
	{
		top: 20%;
	}

	@include mobile
	{
		width: 60px;
		height: 60px;
	}
}

@include b('inner-wrapper')
{
	margin: 0 auto;
	width: 100%;
	max-width: 1628px;
	padding: 0 94px;
	@include transition(all, 400ms);

	@include laptop
	{
		padding-left: 50px;
		padding-right: 50px;
	}

	@include mobile
	{
		padding-left: 25px;
		padding-right: 25px;
	}
}

.single
{
	.body-wrapper
	{
		padding-top: 210px;

		@include tablet-portrait
		{
			padding-top: 130px;
		}

		@include mobile
		{
			padding-top: 90px;
		}
	}
}

.body-wrapper
{
	padding-top: 100px;

	@include laptop
	{
		padding-top: 80px;
	}

	@include tablet-portrait
	{
		padding-top: 72px;
	}

	@include mobile
	{
		padding-top: 47px;
	}
}

.empty-div
{
	height: 0 !important;
	opacity: 0 !important;
	pointer-events: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.order-first
{
	order: 1 !important;
}

.order-last
{
	order: 99999 !important;
}

.workforce-development-answers
{
	display: flex;
	flex-direction: column;
}

.no-margin-bottom
{
	margin-bottom: 0 !important;
}
