
@include b('header')
{
	.nav
	{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		li
		{
			a
			{
				padding: 42px 40px 38px;
				font-size: 20px;
				color: color(teal);
				display: block;
				text-decoration: none;
				position: relative;

				&::after
				{
					content: '';
					display: block;
					position: absolute;
					left: 50%;
					transform: translateX(-50%) scaleX(0);
					bottom: 0;
					width: 100%;
					height: 3px;
					@include transition(all, 300ms);
					background: color(teal);
				}

				@include laptop
				{
					font-size: 16px;
					padding: 34px 35px 31px;
				}
			}

			&.current-menu-item
			{
				a::after
				{
					transform: translateX(-50%) scaleX(1);
					@include transition(all, 300ms);
				}
			}

			&:hover
			{
				a::after
				{
					transform: translateX(-50%) scaleX(1);
					@include transition(all, 300ms);
					transition-delay: 0;
				}
			}

			&.menu-item-has-children
			{
				&:hover
				{
					.sub-menu
					{
						@include transition(all, 400ms);
						transition-delay: 300ms;
						transform: scaleY(1);

						li
						{
							opacity: 1;
							@include transition(all, 400ms);
							transition-delay: 600ms;
						}
					}
				}
			}

			.sub-menu
			{
				display: flex;
				justify-content: center;
				position: fixed;
				top: 103px;
				@include transition(all, 500ms);
				transition-delay: 300ms;
				transform: scaleY(0);
				transform-origin: top;
				left: 0;
				width: 100%;
				z-index: 1;
				box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
				background: color(white);

				@include laptop
				{
					top: 83px;
				}

				li
				{
					opacity: 0;
					@include transition(all, 400ms);
					transition-delay: 0;

					a
					{
						@include transition(all, 500ms);

						&::after
						{
							display: none;
						}

						&:hover
						{
							color: color(orange);
						}
					}
				}
			}
		}
	}
}
