//Spacing

/**
 *  Spacing Map
 *  Example usage:
 *
 *  $purple-spacing: (
 *    null  : (20px),
 *    small : 20px,
 *    medium: 40px
 *  );
 *
 *  .test{
 *    @include spacing(padding-bottom, $purple-spacing);
 *  }
 */

$red-spacing :
	(
		null: (5px), //large * 0.7
		small: 0.602vw,
		large: 8px
	);
