/**
 *  Typography
 */

//## Input external font here

/*
@font-face
{
	font-family: '';
	src: url('../fonts/');
	src:
		url('../fonts/') format('embedded-opentype'),
		url('../fonts/') format('woff2'),
		url('../fonts/') format('woff'),
		url('../fonts/') format('truetype'),
		url('../fonts/') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

$font-family: objektiv-mk1, sans-serif;

/**
 *  Font weight variables
 */
$x-bold: 700;
$bold: 500;
$normal: 300;

/**
 *  Font sizes
 *
 *	Map options: null, x-small, small, medium, large, x-large
 *
 */

$p-font-sizes: (
	null : (15px, 18px),
	mobile-small : (15px, 18px),
	mobile: (20px, 26px),
	tablet-portrait: (20px, 26px),
	tablet-landscape : (20px, 26px),
	desktop: (24px, 28px),
	desktop-large: (24px, 28px)
);

$h1-font-sizes: (
	null : (30px, 38px),
	mobile-small : (30px, 38px),
	mobile: (50px, 58px),
	tablet-portrait: (50px, 58px),
	tablet-landscape : (50px, 58px),
	desktop: (60px, 68px),
	desktop-large: (60px, 68px)
);

$h2-font-sizes: (
	null : (25px, 29px),
	mobile-small : (25px, 29px),
	mobile: (40px, 50px),
	tablet-portrait: (40px, 50px),
	tablet-landscape : (40px, 50px),
	desktop: (48px, 60px),
	desktop-large: (48px, 60px)
);

$h3-font-sizes: (
	null : (20px, 25px),
	mobile-small : (20px, 25px),
	mobile: (36px, 40px),
	tablet-portrait: (36px, 40px),
	tablet-landscape : (36px, 40px),
	desktop: (36px, 40px),
	desktop-large: (36px, 40px)
);

$h4-font-sizes: (
	null : (14px, 1.4),
	mobile-small : (14px, 1.4),
	mobile: (14px, 1.4),
	tablet-portrait: (16px, 1.4),
	tablet-landscape : (16px, 1.4),
	desktop: (16px, 1.4),
	desktop-large: (16px, 1.4)
);

$h5-font-sizes: (
	null : (12px, 1.4),
	mobile-small : (12px, 1.4),
	mobile: (15px, 1.4),
	tablet-portrait: (15px, 1.4),
	tablet-landscape : (15px, 1.4),
	desktop: (15px, 1.4),
	desktop-large: (15px, 1.4)
);


p,
h1,
h2,
h3,
h4,
h5
{
	font-family: $font-family;
}

p
{
	margin: 0;
	padding: 0;
	@include font-size($p-font-sizes);
}

body
{
	font-weight: normal;
	font-size: 16px;
}

h1
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	@include font-size($h1-font-sizes);
}

h2
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	@include font-size($h2-font-sizes);
}

h3
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	@include font-size($h3-font-sizes);
}

h4
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	@include font-size($h4-font-sizes);
}

h5
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	@include font-size($h5-font-sizes);
}

@include b('content')
{
	*:only-child
	{
		margin-bottom: 0;
	}

	*:last-child
	{
		margin-bottom: 0;
	}

	p
	{
		margin-bottom: 30px;

		@include mobile
		{
			margin-bottom: 15px;
		}
	}

	h3
	{
		margin-bottom: 60px;

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	h1,
	h2
	{
		margin-bottom: 50px;

		@include mobile
		{
			margin-bottom: 30px;
		}
	}

	img
	{
		height: auto;
		max-width: 100%;
		display: inline-block;
	}

	p a
	{
		color: color(teal);
		@include transition(all, 500ms);

		&:hover
		{
			opacity: 0.7;
		}
	}

	blockquote
	{
		background: color(orange);
		padding: 70px 100px;
		position: relative;
		margin: 60px 0;

		@include mobile
		{
			padding: 40px 56px;
			margin: 30px 0;
		}

		p
		{
			color: color(white);
			@include font-size($h3-font-sizes);
		}

		&::after
		{
			content: '';
			height: 74px;
			width: 70px;
			display: block;
			position: absolute;
			right: -1px;
			bottom: -1px;
			background: color(white);

			@include mobile
			{
				width: 16px;
			}
		}

		&::before
		{
			content: '';
			height: 74px;
			width: 70px;
			display: block;
			position: absolute;
			left: -1px;
			top: -1px;
			background: color(white);

			@include mobile
			{
				width: 16px;
			}
		}
	}

	ul
	{
		margin-bottom: 30px;

		@include mobile
		{
			margin-bottom: 15px;
		}

		li
		{
			position: relative;
			padding-left: 20px;
			@include font-size($p-font-sizes);

			&::before
			{
				content: '•';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

body#tinymce.wp-editor
{
	padding: 10px !important;
	//@extend .content;
}
